
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');


.contariner{
    display: flex;
    justify-content: center;
}

.inputcontainer{
    
    background-color: rgb(255, 255, 255);
    width: 1000px;
    height: 200px;
    font-size: 60px;
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
    
    text-align: center;
    
    box-shadow: 2px 10px 5px 5px rgb(221, 221, 221);
}
.addlist{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.addlist input{
    height: 100px;
    width: 600px;
    font-size: 50px;
    border-radius: 50px;
    background-color: #DEA5A5;
    border: none;
}


.addlist .add{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: none;
    background-color: #A7EC8F;
    margin: 0 15px;
    color: #fff;
    transition: .5s;
    
}
.addlist .add:hover{
    background-color: #549e3c;
    cursor: pointer;
}

input{
text-align: center;
}