
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');


.contariner{
    display: flex;
    justify-content: center;
}

.inputcontainer{
    
    background-color: rgb(255, 255, 255);
    width: 50vw;
    height: 40vh;
    font-size: 12vh;
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
    
    text-align: center;
    
    box-shadow: 2px 10px 5px 5px rgb(221, 221, 221);
    margin-top: 20px;
}
.textadd{
    margin:  15px 0;
}

.addlist{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.addlist input{
    height: 20vh;
    width: 30vw;
    font-size: 10vh;
    border-radius: 50px;
    background-color: #DEA5A5;
    border: none;
}


.addlist .add{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: none;
    background-color: #A7EC8F;
    margin: 0 15px;
    color: #fff;
    transition: .5s;
    
}
.addlist .add:hover{
    background-color: #549e3c;
    cursor: pointer;
}

input{
text-align: center;
}   

@media only screen and (max-width:  480px) {
    
    .contariner{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        
    }
    .inputcontainer{
        width: 90vw;
        height: 20vh;
        font-size: 5vh;
    }
    .textadd{
        margin-top: 10px;
    }
    .addlist input{
        width: 60vw;
        height: 6vh;
        font-size: 3vh;
    }
    .addlist .add{
        width: 50px;
        height: 50px;
    }
}

@media only screen and (min-width: 500px) {
    .inputcontainer{
        width: 90vw;
        height: 25vh;
        font-size: 9vh;
    }
    .textadd{
        margin-top: 10px;
    }
    .addlist input{
        width: 60vw;
        height: 7vh;
        font-size: 5vh;
    }
    .addlist .add{
        width: 60px;
        height: 60px;
    }
}


@media only screen and (min-width: 1100px) {
    body{
        background-color: rgb(255, 255, 255);
    }
    .inputcontainer{
        width: 40vw;
        height: 30vh;
        font-size: 8vh;
    }
    .textadd{
        margin-top: 10px;
    }
    .addlist input{
        width: 30vw;
        height: 8vh;
        font-size: 5vh;
    }
    .addlist .add{
        width: 70px;
        height: 70px;
    }
}
