@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');

main{
  background-image: url(https://drive.google.com/uc?export=view&id=1dpbqDbux4UkbQmd8FHHI0MBh7V9eUXTW);
  background-size:contain;
  font-family: 'Montserrat', sans-serif;
}
body {
  background-color: rgb(57, 185, 194);
  
}
.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  color: rgb(0, 0, 0);
  font-size: 24px;
  
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 320px;
  background: transparent;
  color: rgb(0, 0, 0);
  font-family:'Montserrat', sans-serif;
}

.todo-input::placeholder {
  color: #000000;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
  font-family:'Montserrat', sans-serif;
}
.search{
  font-family:'Montserrat', sans-serif;
}

.todo-input.edit {
  border: 2px solid #000000;
}

.todo-button.edit {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
  );

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.todo-row:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
}

.todo-row:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgba(255, 12, 241, 1) 0%,
    rgba(250, 0, 135, 1) 100%
  );
}

.todo-row:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: rgb(250, 77, 77);
}

.edit-icon {
  color: rgb(92, 160, 248);
}

/* QUERY CELULAR */
@media (max-width:481px){   
  main{
    font-size: 6px;
}
p{
  font-size: 2rem;
}
  }
  
  
  /* QUERY TABLET*/
  @media (min-width:766px){
     
main{
      font-size: 10px;
  }
  p{
    font-size: 5rem;
  }
  }
  
  
  /* QUERY DESKTOP*/
  @media (min-width:1024px){
     
    main{
      font-size: 15px;
  }
  p{
    font-size: 4rem;
  }
  }
