h1 {
    margin: 32px 0;
    color: rgb(0, 0, 0);
    font-size: 24px;
    
  }

  .cardAdd{
    background-color:#ffffff;
    text-align: center;
    justify-items: center;
    width: 70%;
    padding: 2rem;
    margin: 3rem auto;
    border-radius: 1rem;
    box-shadow: 15px 13px 50px -6px rgba(82,82,82,1);
  }

  .todo-form {
    margin-bottom: 32px;
  }

  .todo-input {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #F9C9C9;
    outline: none;
    width: 320px;
    background: transparent;
    color: rgb(0, 0, 0);
    font-family:'Montserrat', sans-serif;
  }
  
  .todo-input::placeholder {
    color: #000000;
  }

  .todo-button {
    padding: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background-color: #f9c9c9;
    color: #000;
    text-transform: capitalize;
    font-family: "Montserrat", sans-serif;
  }